$color-text-base: #233228;
$color-text-red: #cc2c2c;
$color-text-green: #2f8f57;
$color-text-gray: #5f7265;

$color-primary: #2f8f57;
$color-primary-strong: #247345;

$color-black: #000;
$color-white: #fff;

$color-background: #f3f7f4;
$color-surface: #ffffff;
$color-surface-soft: #f9fcfa;

$color-boxshadow: rgba(23, 52, 36, 0.08);
$color-border: #d7e3db;
